Source: libsigc++-3.0
Section: devel
Priority: optional
Maintainer: Debian GNOME Maintainers <pkg-gnome-maintainers@lists.alioth.debian.org>
Uploaders: Jeremy Bícha <jbicha@ubuntu.com>, Boyuan Yang <byang@debian.org>
Build-Depends: debhelper-compat (= 13),
               docbook-xml <!nodoc>,
               docbook-xsl <!nodoc>,
               doxygen <!nodoc>,
               graphviz <!nodoc>,
               libxml2-utils <!nocheck>,
               meson (>= 0.55.0),
               mm-common,
               pkg-kde-tools,
               xsltproc <!nodoc>,
Rules-Requires-Root: no
Standards-Version: 4.6.2
Vcs-Git: https://salsa.debian.org/gnome-team/libsigcplusplus-3.0.git
Vcs-Browser: https://salsa.debian.org/gnome-team/libsigcplusplus-3.0
Homepage: https://libsigcplusplus.github.io/libsigcplusplus/

Package: libsigc++-3.0-0
Section: libs
Depends: ${misc:Depends},
         ${shlibs:Depends}
Architecture: any
Multi-Arch: same
Description: type-safe Signal Framework for C++ - runtime
 This library implements a full callback system for use in widget
 libraries, abstract interfaces, and general programming. It provides
 the ability to connect an abstract callback to a class method,
 function, or function object, and contains adaptor classes for the
 connection of dissimilar callbacks.
 .
 These are the runtime files for libsigc++, needed only if you wish to
 run software which depends on it.

Package: libsigc++-3.0-dev
Section: libdevel
Depends: libsigc++-3.0-0 (= ${binary:Version}),
         pkgconf,
         ${misc:Depends}
Suggests: libsigc++-3.0-doc
Architecture: any
Multi-Arch: same
Description: type-safe Signal Framework for C++ - development files
 This library implements a full callback system for use in widget
 libraries, abstract interfaces, and general programming. It provides
 the ability to connect an abstract callback to a class method,
 function, or function object, and contains adaptor classes for the
 connection of dissimilar callbacks.
 .
 These are the development files for libsigc++, needed only if you
 wish to write software which uses it.

Package: libsigc++-3.0-doc
Section: doc
Depends: ${misc:Depends}
Architecture: all
Multi-Arch: foreign
Description: type-safe Signal Framework for C++ - reference documentation
 This library implements a full callback system for use in widget
 libraries, abstract interfaces, and general programming. It provides
 the ability to connect an abstract callback to a class method,
 function, or function object, and contains adaptor classes for the
 connection of dissimilar callbacks.
 .
 This package contains the reference documentation for libsigc++,
 needed only if you wish to write software which uses it.
